@import url(http://allfont.net/allfont.css?fonts=presentscript-cyrillic);
body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-color: #e0b77f;
/*    background-color: #e0b77f;*/
/*    background-color: #FFF3E8;*/
}
/*    NAVIGATION*/
.nav {
    width: 100%;
    height: 90px;
    background-color: rgb(106, 64, 27);
    z-index: 3;
    box-shadow: 0 0px 50px 1px black;
}

#title-page {
    font-family: 'PresentScript Cyrillic', arial;
    font-weight: bold;
    float: left;
    color: #f8eab8;
    font-size: 40px;
    margin-left: 100px;
    margin-top: 20px;
    text-shadow: 0px -4px 4px #000;
    text-decoration: none;
    transition: all 0.4s;
    -moz-transition: all 0.4s;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -ms-transition: all 0.4s;
}
#title-page:hover {
    transition: 0.4s;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -ms-transition: 0.4s;
    -o-transition: 0.4s;
    font-size: 41px;
    color: #ffffff;
    margin-left: 95px;
    
}
.nav-menu {
    float: right;
    margin-top: 20px;
    margin-right: 70px;
    
}

.nav li {
    display: inline;
}

ul a {
    text-decoration: none;
    color: black;
    font-size: 22px;
    padding: 15px;
    background-color: beige;
    transition: all 0.5s;
    -moz-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    margin-left: 30px;
    border-radius: 4px;
        
    }
ul a:hover {
    border-radius: 45px;
    transition: 0.5s;
    -o-transition: 0.5s;
    -ms-transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    background-color: #9B561C;
    text-shadow: 0 0 10px black;
    color: aliceblue;
    box-shadow: 0 0 10px black;
    
    
    
}
/*   CONTENT*/
.container {
    z-index: 0;
    background-color: #9B561C;
    height: 100%;
    width: 60%;
    margin: 0 auto;
    box-shadow: inset 0px 0px 20px #000;
    padding-top: 15px;
}

/*here starts the design of content*/


.video {
    margin: 40px auto;
    width: 100%;
    display: block;     
}
#video {
    width: 90%;
    margin-left: 5%;
    border-radius: 4px;
    box-shadow: 0px 5px 5px #000
}


.text h1 {
    color: #fff;
    text-align: center;
    margin-top: 15px;
    text-shadow: 1px -3px 2px #000;
    font-family: 'PresentScript Cyrillic', arial;
    font-weight: bold;
    text-transform: uppercase;
    
}


/*   FOOTER*/

.footer {
    clear: both;
    text-align: center;
    width: 100%;
    word-wrap: break-word;
    padding-top: 20px;
    padding-bottom: 20px;
    position: relative;
    background-color: rgb(34, 17, 2);

    

}

.footer p {
    margin: 5px;
    font-family: monospace;
    font-size: 1.8em;
    color: #ffffff;
    text-shadow: 0 0 10px black;
    text-decoration: none;
}

#footer-site-link {
    text-decoration: none;
    color: rgba(235, 255, 0, 0.96);
    transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
    -webkit-transition: all 0.2s;
}
#footer-site-link:hover {
    color: rgb(0, 49, 255);
    -moz-transition: 0.2s;
    -ms-transition: 0.2s;
    -o-transition: 0.2s;
    -webkit-transition: 0.2s;
}
select {
    
    padding: 5px;
    border: none;
    border-radius: 4px;
    background-color: #24160b;
    color: white;
    border: solid 0.3px white
}
input[type=submit] {
    padding: 5px;
    border: none;
    border-radius: 4px;
    background-color: #ffffff;
}


.lang-selector {
    display: inline
}




/*  scroll button */
::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar
{
	width: 12px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #555;
    }


